<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Bacasime+Antique&family=Bebas+Neue&family=Bellefair&family=Bodoni+Moda:opsz@6..96&family=Bungee+Outline&family=Londrina+Outline&family=Love+Ya+Like+A+Sister&family=Nixie+One&family=Playfair+Display&family=Playfair+Display+SC&family=Press+Start+2P&family=Sorts+Mill+Goudy&family=Staatliches&display=swap"
        rel="stylesheet">
    <style>
        body {
            background-color: rgb(245, 243, 240);
        }

        .imagee {
            display: flex;
            height: 300px;
            margin: 0 80px;
            justify-content: center;
        }

        .imagee .imm {
            height: 100px;
        }

        .container {
            height: 100px;
            width: auto;
            display: flex;
            justify-content: space-between;
            color: black;
        }

        .navlink {
            width: 400px;
            display: flex;
            align-items: center;
        }

        .navlink ul li {
            display: inline-flex;
        }

        .navlink ul li a {
            text-decoration: none;
            color: black;
            font-family: "Bodoni Moda", serif;
            padding: 10px;
            transition: 0.6s;
        }

        .navlink ul li a:hover {
            text-decoration: none;
            font-family: "Bodoni Moda", serif;
            color: red;
            padding: 10px;
            font-size: 20px;
        }

        #logo {
            height: 70px;
            width: 70px;
            padding: 20px;
        }

        hr {
            margin-left: 100px;
            margin-right: 100px;
        }

        .logo {
            display: flex;
            justify-content: center;
            font-family: "Bodoni Moda", serif;
            font-size: 30px;
            font-weight: bolder;
        }

        .contact-section {
            margin: 40px 100px;
            padding: 20px;
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .contact-details {
            font-family: "Bodoni Moda", serif;
            font-size: 20px;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="logo" style="margin-left: 30px;">
            <img src="/Logo.png" alt="" id="logo">
            <h2 style="margin-top: 20px;">OXEN</h2>
        </div>
        <div class="navlink">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About Us</a></li>
              
                <li><a href="/loginform">Login</a></li>
                
            </ul>
        </div>
    </div>
    <br>
    <hr>

    <div class="contact-section">
        <h2>Contact Details</h2>
        <div class="contact-details">
            <p>Email: contact@oxen.com</p>
            <p>Phone: +1 (123) 456-7890</p>
            <p>Address: 123 Main Street, Cityville</p>
        </div>
    </div>

</body>

</html>
