<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Bacasime+Antique&family=Bebas+Neue&family=Bellefair&family=Bodoni+Moda:opsz@6..96&family=Bungee+Outline&family=Londrina+Outline&family=Love+Ya+Like+A+Sister&family=Nixie+One&family=Playfair+Display&family=Playfair+Display+SC&family=Press+Start+2P&family=Sorts+Mill+Goudy&family=Staatliches&display=swap"
        rel="stylesheet">
    <style>
        body {
            background-color: rgb(245, 243, 240);
        }

        .imagee {
            display: flex;
            height: 300px;
            margin: 0 80px;
            justify-content: center;
           
          
        }

        .imagee .imm{
            
            height: 100px;
           
        }

        .container {

            height: 100px;
            width: auto;
            display: flex;
            justify-content: space-between;
            color: black;

        }

        .navlink {

            width: 400px;
            display: flex;
            align-items: center;


        }

        .navlink ul li {
            display: inline-flex;

        }

        .navlink ul li a {
            text-decoration: none;
            color: black;
            font-family: "Bodoni Moda", serif;
            padding: 10px;
            transition: 0.6s;
        }

        .navlink ul li a:hover {
            text-decoration: none;
            font-family: "Bodoni Moda", serif;
            color: red;
            padding: 10px;
            font-size: 20px;

        }

        #logo {
            height: 70px;
            width: 70px;
            padding: 20px;
            
        }
        hr{
            margin-left:100px ;
            margin-right: 100px;
        }

        .logo {
            display: flex;
            justify-content: center;
            font-family: "Bodoni Moda", serif;
            font-size: 30px;
            font-weight: bolder;
           
        }
    </style>

</head>

<body>
    <div class="container">
        
        <div class="logo" style="margin-left: 30px;">

            <img src="/Logo.png" alt="" id="logo">
            <h2 style="margin-top: 20px;">OXEN</h2>

        </div>
        <div class="navlink">
            <ul>
                 
                <li><a href="/contact">Contact Us</a></li>
                <li><a href="/loginform">Login</a></li>
                <li><a href="/register">Register</a></li>
            </ul>

        </div>

    </div>
    <br>
    <hr>
   
    <div class="imagee">
        <div class="imm">
            <img src="/mainimg.gif" alt="" height="200px" style="margin-top: 50px;">
        </div>

    </div>
     <div style="background-color:rgb(245, 243, 240); padding: 20px; border-radius: 10px;  margin: 10px auto; max-width: 600px;">
      
        <p style="color: #555; margin:10px auto;">Explore the outstanding features and begin your journey with our premium services today!</p>

        <a href="#" style="display: inline-block; padding: 15px 30px; font-size: 18px; font-weight: bold; text-align: center; text-decoration: none; background-color: #FFA500; color: #fff; border-radius: 5px; transition: background-color 0.3s; margin-left:240px;">Get Started</a>
    </div>
   
</body>

</html>